@model List<Gestion_de_recursos_para_PYMES.Models.Categoria>
@{
    ViewData["Title"] = "Categorías";
}

<h2 class="mb-3">Categorías</h2>
<a asp-action="Crear" class="btn btn-success mb-3">
    + Registrar nueva categoría
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Productos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model)
        {
            <tr>
                <td>@categoria.Nombre</td>
                <td>@categoria.Descripcion</td>
                <td>@categoria.Productos.Count</td>
                <td>
                    <a asp-action="Detalle"
                       asp-route-id="@categoria.CategoriaId"
                       class="btn btn-primary btn-sm">
                        Ver detalle
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>